<div>
    <div nz-row style="margin-bottom: 2em;">        
        <nz-input-group nz-col [nzPrefix]="prefixIconSearch" style="align-self: center;">
            <input type="text" nz-input placeholder="Search for playlist" [(ngModel)]="SearchString" (keyup.enter)="onSearchQueryInput()"/>
        </nz-input-group>
        <ng-template #prefixIconSearch>
        <span nz-icon nzType="search"></span>
        </ng-template>
        
    </div>
    <nz-table
    nzShowSizeChanger
    [nzData]="playlistModel.playlists"
    [nzFrontPagination]="false"
    [nzLoading]="(IsLoading | async)"
    [nzTotal]="playlistModel.totalCount"
    [nzPageSize]="PageSize"
    [nzPageIndex]="PageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
    >
    <thead >
        <tr>
            <th nzColumnKey="order" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('order')">#</th>
            <th nzColumnKey="name" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('name')">Title</th>
            <th nzColumnKey="creator" [nzSortFn]="false">Creator</th>
            <th nzColumnKey="songCount" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('songCount')">Songs</th>
            <th nzColumnKey="created" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('created')">Created</th>
            <th nzColumnKey="actions">Actions</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let data of playlistModel.playlists;let indexOfelement=index;" (contextmenu)="contextMenu($event, menu, data, indexOfelement)"
        class="song-item" 
        >
      <td>
        <img [src]="getPlaylistCoverSrc(data.id)" style="width: 50px; height: 50px;"/>
      </td>
      <td>
        {{data.name}}
      </td>
      <td>
        {{this.getPlaylistCreator(data.users)}}
      </td>
      <td>
        {{data.songCount}} Songs
      </td>
      <td>
        {{data.created| date:'longDate' }}
      </td>
      <td>
        <span *ngIf="!data.receiveNotifications" nz-icon nzType="mail" nzTheme="outline" class="clickable" (click)="receiveNotifications(data.id)"></span>
        <span *ngIf="data.receiveNotifications" nz-icon nzType="mail" nzTheme="outline" class="clickable success-color" (click)="receiveNotifications(data.id)"></span>
        <span *ngIf="data.isModifieable && !data.isPublic" nz-icon nzType="send" nzTheme="outline" class="clickable" (click)="setPublic(data.id)"></span>
        <span *ngIf="data.isModifieable && data.isPublic" nz-icon nzType="send" nzTheme="outline" class="clickable success-color" (click)="setPublic(data.id)"></span>
        <span *ngIf="!data.isModifieable" aria-disabled="true" nz-icon nzType="send" nzTheme="outline" (click)="setPublic(data.id)"></span>
      </td>
        </tr>
    </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
          <li nz-menu-item id="add-fav" (click)="addPlaylistToFavorites()">Add contained songs to favorites</li>
          <li nz-menu-item id="add-queue" (click)="addPlaylistToQueue()">Add playlist to queue</li>
          <li nz-menu-item id="copy" (click)="AddPlaylistToLibrary()">Add playlist to library</li>
          <li nz-menu-item id="copy" (click)="AddPlaylistToLibrary()">Copy playlist to library</li>
          <li nz-menu-item *ngIf="playlistDeletable" id="delete" (click)="DeletePlaylist()">Delete playlist</li>
          <li nz-menu-item *ngIf="this.SelectedTableItem.index > -1 && !this.SelectedTableItem.playlistModel.isPublic" id="set-public" (click)="setPublic(this.SelectedTableItem.playlistModel.id)">Set public</li>
          <li nz-menu-item *ngIf="this.SelectedTableItem.index > -1 && this.SelectedTableItem.playlistModel.isPublic" id="set-private" (click)="setPublic(this.SelectedTableItem.playlistModel.id)">Set private</li>
          <li nz-menu-item *ngIf="this.SelectedTableItem.index > -1 && !this.SelectedTableItem.playlistModel.receiveNotifications" id="rec-not" (click)="receiveNotifications(this.SelectedTableItem.playlistModel.id)">Receive notifications</li>
          <li nz-menu-item *ngIf="this.SelectedTableItem.index > -1 && this.SelectedTableItem.playlistModel.receiveNotifications" id="stop-not" (click)="receiveNotifications(this.SelectedTableItem.playlistModel.id)">Stop notifications</li>
          <li nz-submenu nzTitle="Add contained songs to playlist" id="add-pl">
              <ul>
                  <li nz-menu-item *ngFor="let data of this.ModifieablePlaylists" (click)="addSongToPlaylist(data.id)">{{data.name}}</li>
              </ul>
          </li>
      </ul>
  </nz-dropdown-menu>

</div>
