<div>
  <div *ngIf="IsInitialTableEmpty">
    <h3>
      No playlists have been added yet!
    </h3>
    

  </div>
    <div *ngIf="!IsInitialTableEmpty" nz-row style="margin-bottom: 2em;">        
        <nz-input-group nz-col [nzPrefix]="prefixIconSearch" style="align-self: center;">
            <input type="text" nz-input placeholder="Search for playlist" [(ngModel)]="SearchString" (keyup.enter)="onSearchQueryInput()"/>
        </nz-input-group>
        <ng-template #prefixIconSearch>
        <span nz-icon nzType="search"></span>
        </ng-template>
        
    </div>
    <nz-table
    *ngIf="!IsInitialTableEmpty"
    nzShowSizeChanger
    [nzData]="playlistModel.playlists"
    [nzFrontPagination]="false"
    [nzLoading]="(IsLoading | async)"
    [nzTotal]="playlistModel.totalCount"
    [nzPageSize]="PageSize"
    [nzPageIndex]="PageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
    >
    <thead >
        <tr>
            <th nzColumnKey="order" [nzShowSort]="!IsSongTableEmpty" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('order')">#</th>
            <th nzColumnKey="name" [nzShowSort]="!IsSongTableEmpty" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('name')">Title</th>
            <th nzColumnKey="creator" [nzShowSort]="!IsSongTableEmpty" [nzSortFn]="false">Creator</th>
            <th nzColumnKey="songCount" [nzShowSort]="!IsSongTableEmpty" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('songCount')">Songs</th>
            <th nzColumnKey="created" [nzShowSort]="!IsSongTableEmpty" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('created')">Created</th>
            <th nzColumnKey="actions">Actions</th>
        </tr>

    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)" class="drag-boundry" >
        <tr *ngFor="let data of playlistModel.playlists;let indexOfelement=index;" class="playlist-item" (contextmenu)="contextMenu($event, menu, data, indexOfelement)"
        cdkDrag [cdkDragDisabled]="!playlistsEditable" cdkDragBoundary=".drag-boundry" cdkDragLockAxis="y" (cdkDragStarted)="drag($event)"
        >
      <td>
        <span id="order-id" *ngIf="(this.CurrentPlayingSong.id && this.QueueModel.itemId != data.id) || 
        (!this.IsSongPlaying && this.CurrentPlayingSong && this.QueueModel.itemId == data.id && this.QueueModel.target == this.QueueTypePlaylist)">{{data.order}}</span>

        <span *ngIf="(this.CurrentPlayingSong.id && this.QueueModel.itemId != data.id) || !this.IsSongPlaying"
        id="play-button" nz-icon nzType="play-circle" nzTheme="outline" class="clickable" (click)="playPlaylist(data.id, data.songCount)"></span>

        <span *ngIf="this.IsSongPlaying && this.CurrentPlayingSong.id && this.QueueModel.itemId == data.id && this.QueueModel.target == this.QueueTypePlaylist"
         nz-icon nzType="pause-circle" nzTheme="outline" class="clickable" (click)="pausePlaylist()"></span>
      </td>
      <td>
        <img [src]="getPlaylistCoverSrc(data.id)" style="width: 50px; height: 50px;"/>
        <a [routerLink]="['/playlist', data.id]">
          {{data.name}}
        </a>
      </td>
      <td>
        <a [routerLink]="['/playlist', this.getPlaylistCreator(data.users)?.id]">
          {{this.getPlaylistCreator(data.users)?.userName}}
        </a>
      </td>
      <td>
        {{data.songCount}} Songs
      </td>
      <td>
        {{data.created| date:'longDate' }}
      </td>
      <td>
        <span *ngIf="!data.receiveNotifications" nz-icon nzType="mail" nzTheme="outline" class="clickable" (click)="receiveNotifications(data.id)"></span>
        <span *ngIf="data.receiveNotifications" nz-icon nzType="mail" nzTheme="outline" class="clickable success-color" (click)="receiveNotifications(data.id)"></span>
        <span *ngIf="data.isModifieable && !data.isPublic" nz-icon nzType="send" nzTheme="outline" class="clickable" (click)="setPublic(data)"></span>
        <span *ngIf="data.isModifieable && data.isPublic" nz-icon nzType="send" nzTheme="outline" class="clickable success-color" (click)="setPublic(data)"></span>
        <span *ngIf="!data.isModifieable" aria-disabled="true" nz-icon nzType="send" nzTheme="outline" (click)="setPublic(data)"></span>
        <span *ngIf="playlistsEditable" nz-icon nzType="delete" nzTheme="outline" class="clickable-danger" (click)="deletePlaylist(data.id, data.name)"></span>
        <span *ngIf="!playlistsEditable" aria-disabled="true" nz-icon nzType="delete" nzTheme="outline" ></span>
      </td>
        </tr>
    </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
          <li *ngIf="this.CurrentPlayingSong.id" nz-menu-item id="add-queue" (click)="addPlaylistToQueue()">Add playlist to queue</li>
          <li nz-menu-item *ngIf="!isUserPartOfPlaylist()" id="add" (click)="addPlaylistToLibrary()">Add playlist to library</li>
          <li nz-menu-item *ngIf="!playlistsEditable" id="copy" (click)="copyPlaylistToLibrary()">Copy playlist to library</li>
          <li nz-menu-item *ngIf="playlistsEditable" id="edit" (click)="this.ShowPlaylistEditModal = true">Edit details</li>
          <li nz-menu-item *ngIf="playlistsEditable" id="delete" (click)="deletePlaylist(this.SelectedTableItem.playlistModel.id, this.SelectedTableItem.playlistModel.name)">Delete playlist</li>
          <li nz-menu-item *ngIf="playlistsEditable && this.SelectedTableItem.index > -1 && !this.SelectedTableItem.playlistModel.isPublic" id="set-public" (click)="setPublic(this.SelectedTableItem.playlistModel)">Set public</li>
          <li nz-menu-item *ngIf="playlistsEditable && this.SelectedTableItem.index > -1 && this.SelectedTableItem.playlistModel.isPublic" id="set-private" (click)="setPublic(this.SelectedTableItem.playlistModel)">Set private</li>
          <li nz-menu-item *ngIf="this.SelectedTableItem.index > -1 && !this.SelectedTableItem.playlistModel.receiveNotifications" id="rec-not" (click)="receiveNotifications(this.SelectedTableItem.playlistModel.id)">Receive notifications</li>
          <li nz-menu-item *ngIf="this.SelectedTableItem.index > -1 && this.SelectedTableItem.playlistModel.receiveNotifications" id="stop-not" (click)="receiveNotifications(this.SelectedTableItem.playlistModel.id)">Stop notifications</li>
      </ul>
  </nz-dropdown-menu>
  <app-playlist-edit *ngIf="this.ShowPlaylistEditModal" [visible]="this.ShowPlaylistEditModal" (onSaveModal)="savePlaylist($event)" (onCancleModal)="this.ShowPlaylistEditModal = false"
  [playlistDetails]="this.SelectedTableItem.playlistModel"
  ></app-playlist-edit>

</div>
