<div>
    <div nz-row style="margin-bottom: 2em;">        
        <nz-input-group nz-col [nzPrefix]="prefixIconSearch" style="align-self: center;">
            <input type="text" nz-input placeholder="Search for song" [(ngModel)]="SearchString" (keyup.enter)="onSearchQueryInput()"/>
        </nz-input-group>
        <ng-template #prefixIconSearch>
        <span nz-icon nzType="search"></span>
        </ng-template>
        
    </div>

    <button *ngIf="!ShowCheckbox" nz-button nzType="default" (click)="ShowCheckbox = !ShowCheckbox">Show Selector</button>
    <button *ngIf="ShowCheckbox" nz-button nzType="default" (click)="ShowCheckbox = !ShowCheckbox">Hide Selector</button>
    <nz-table
    nzShowSizeChanger
    [nzData]="songs.songs"
    [nzFrontPagination]="false"
    [nzLoading]="(IsLoading | async)"
    [nzTotal]="songs.totalCount"
    [nzPageSize]="PageSize"
    [nzPageIndex]="PageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
    >
        <thead>
            <tr>
                <th             
                *ngIf="ShowCheckbox"
                nzWidth="60px"
                [(nzChecked)]="AllChecked"
                [nzIndeterminate]="Indeterminate"
                (nzCheckedChange)="checkAll($event)"></th>
                <th nzColumnKey="order" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('order')">#</th>
                <th nzColumnKey="name" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('name')">Title</th>
                <th nzColumnKey="album" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('album')">Album</th>
                <th nzColumnKey="created">Date added</th>
                <th nzColumnKey="isInFavorites">Favorite</th>
                <th nzColumnKey="duration" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('duration')">Duration</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let data of songs.songs" (contextmenu)="contextMenu($event, menu, data)"
            class="song-item"
            >
                <td
                *ngIf="ShowCheckbox"
                [(nzChecked)]="data.checked"
                (nzCheckedChange)="refreshTableHeader()"
              ></td>
                <td>
                    <span id="order-id">{{data.order}}</span>
                    <button *ngIf="this.CurrentPlayingSong && this.CurrentPlayingSong.id != data.id" 
                    id="play-song-button" nz-button nzType="default" nzShape="circle" (click)="playSong(data)">
                        <span nz-icon nzType="play-circle" nzTheme="outline"></span>
                    </button>
                    <button *ngIf="this.IsSongPlaying && this.CurrentPlayingSong && this.CurrentPlayingSong.id == data.id" 
                    nz-button nzType="default" nzShape="circle" (click)="pauseSong()">
                        <span nz-icon nzType="pause-circle" nzTheme="outline"></span>
                    </button>
                </td>
                <td>
                    <img [src]="getAlbumCoverSrc(data.album.id)" style="width: 50px; height: 50px;"/>
                    {{data.name}}
                </td>
                <td><a [href]="getAlbumLink(data.album)">{{data.album.name}}</a></td>
                <td>{{data.created | date:'longDate' }}</td>
                <td>
                    <span *ngIf="data.isInFavorites" nz-icon nzType="heart" 
                    nzTheme="fill" style="cursor: pointer;" (click)="removeSongFromFavorites(data.id)"></span>
                    <span *ngIf="!data.isInFavorites" nz-icon nzType="heart" 
                    nzTheme="outline" style="cursor: pointer;" (click)="addSongToFavorites(data.id)"></span>
                </td>
                <td>{{data.duration | secondsToMinute}}</td>

            </tr>
        </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item id="add-fav" (click)="addSongToFavorites(this.SelectedTableItem.id)" *ngIf="!this.SelectedTableItem.isInFavorites">Add to favorites</li>
            <li nz-menu-item id="rm-fav" (click)="removeSongFromFavorites(this.SelectedTableItem.id)" *ngIf="this.SelectedTableItem.isInFavorites">Remove from favorites</li>
            <li nz-menu-item id="rm-pl" (click)="removeSongFromPlaylist()" *ngIf="this.playlistId != undefined">Remove from current playlist</li>
            <li nz-menu-item id="add-all-fav" (click)="addSelectedSongsToFavorites()" *ngIf="this.Indeterminate || this.AllChecked">Add selected to favorites</li>
            <li nz-menu-item id="rm-all-fav" (click)="removeSelectedSongsFromFavorites()" *ngIf="this.Indeterminate || this.AllChecked">Remove selected from favorites</li>
            <li nz-menu-item id="rm-all-pl" (click)="removeSelectedSongsFromPlaylist()" *ngIf="this.playlistId != undefined && (this.Indeterminate || this.AllChecked)">Remove selected from current playlist</li>
            <li nz-submenu nzTitle="Add to playlist" id="add-pl">
                <ul>
                    <li nz-menu-item *ngFor="let data of this.ModifieablePlaylists" (click)="addSongToPlaylist(data.id)">{{data.name}}</li>
                </ul>
              </li>
              <li nz-submenu nzTitle="Add selected to playlist" id="add-all-pl" *ngIf="this.Indeterminate || this.AllChecked">
                <ul>
                    <li nz-menu-item *ngFor="let data of this.ModifieablePlaylists" (click)="addSelectedSongsToPlaylist(data.id)">{{data.name}}</li>
                </ul>
              </li>
        </ul>
    </nz-dropdown-menu>


</div>
