<div>
    <div *ngIf="displaySearch" nz-row style="margin-bottom: 2em;">        
        <nz-input-group nz-col [nzPrefix]="prefixIconSearch" style="align-self: center;">
            <input type="text" nz-input placeholder="Search for song" [(ngModel)]="SearchString" (keyup.enter)="onSearchQueryInput()"/>
        </nz-input-group>
        <ng-template #prefixIconSearch>
        <span nz-icon nzType="search"></span>
        </ng-template>
        
    </div>

    <button *ngIf="displayHeader && !ShowCheckbox" nz-button nzType="default" (click)="ShowCheckbox = !ShowCheckbox">Show Selector</button>
    <button *ngIf="displayHeader && ShowCheckbox" nz-button nzType="default" (click)="ShowCheckbox = !ShowCheckbox">Hide Selector</button>
    <nz-table
    nzShowSizeChanger
    [nzData]="songs.songs"
    [nzFrontPagination]="false"
    [nzLoading]="(IsLoading | async)"
    [nzTotal]="songs.totalCount"
    [nzPageSize]="PageSize"
    [nzPageIndex]="PageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
    [nzShowPagination]="displayPagination"
    >
        <thead >
            <tr *ngIf="displayHeader">
                <th             
                *ngIf="ShowCheckbox"
                nzWidth="60px"
                [(nzChecked)]="AllChecked"
                [nzIndeterminate]="Indeterminate"
                (nzCheckedChange)="checkAll($event)"></th>
                <th nzColumnKey="order" [nzShowSort]="sortingEnabled" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('order')">#</th>
                <th nzColumnKey="name" [nzShowSort]="sortingEnabled" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('name')">Title</th>
                <th *ngIf="displayAlbum" nzColumnKey="album" [nzShowSort]="sortingEnabled" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('album')">Album</th>
                <th nzColumnKey="created" [nzShowSort]="sortingEnabled" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('created')">Date added</th>
                <th nzColumnKey="isInFavorites">Favorite</th>
                <th nzColumnKey="duration" [nzShowSort]="sortingEnabled" [nzSortFn]="true" [nzSortOrder]="getHeaderSortOrder('duration')">Duration</th>
            </tr>

        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)" class="drag-boundry">
            <tr *ngFor="let data of songs.songs;let indexOfelement=index;" (contextmenu)="contextMenu($event, menu, data, indexOfelement)"
            class="song-item" cdkDrag [cdkDragDisabled]="disableDragDrop" cdkDragBoundary=".drag-boundry" cdkDragLockAxis="y" (cdkDragStarted)="drag($event)"
            >
                <td
                *ngIf="ShowCheckbox"
                [(nzChecked)]="data.checked"
                (nzCheckedChange)="refreshTableHeader()"
              ></td>
                <td *ngIf="displayHeader" class="first-td">
                    <span id="order-id" *ngIf="(this.CurrentPlayingSong && this.CurrentPlayingSong.id != data.id) || 
                    (!this.IsSongPlaying && this.CurrentPlayingSong && this.CurrentPlayingSong.id == data.id)">{{data.order}}</span>

                    <span *ngIf="(this.CurrentPlayingSong && this.CurrentPlayingSong.id != data.id) || !this.IsSongPlaying"
                    id="play-song-button" nz-icon nzType="play-circle" nzTheme="outline" class="clickable" (click)="playSong(data, indexOfelement)"></span>

                    <span *ngIf="this.IsSongPlaying && this.CurrentPlayingSong && this.CurrentPlayingSong.id == data.id"
                     nz-icon nzType="pause-circle" nzTheme="outline" class="clickable" (click)="pauseSong()"></span>
                </td>
                <td *ngIf="!displayHeader" style="width: 5em;">
                    <span id="order-id" *ngIf="(this.CurrentPlayingSong && this.CurrentPlayingSong.id != data.id) || 
                    (!this.IsSongPlaying && this.CurrentPlayingSong && this.CurrentPlayingSong.id == data.id)">{{data.order}}</span>

                    <span *ngIf="(this.CurrentPlayingSong && this.CurrentPlayingSong.id != data.id) || !this.IsSongPlaying"
                    id="play-song-button" nz-icon nzType="play-circle" nzTheme="outline" class="clickable" (click)="playSong(data, indexOfelement)"></span>

                    <span *ngIf="this.IsSongPlaying && this.CurrentPlayingSong && this.CurrentPlayingSong.id == data.id"
                     nz-icon nzType="pause-circle" nzTheme="outline" class="clickable" (click)="pauseSong()"></span>
                </td>
                <td>
                    <img [src]="getAlbumCoverSrc(data.album.id)" style="width: 50px; height: 50px;"/>
                    {{data.name}}

                </td>
                <td *ngIf="displayAlbum"><a [routerLink]="['/album', data.album.id]">{{data.album.name}}</a></td>
                <td>{{data.created | date:'longDate' }}</td>
                <td>
                    <span *ngIf="data.isInFavorites" nz-icon nzType="heart" 
                    nzTheme="fill" class="clickable" (click)="removeSongFromFavorites(data.id)"></span>
                    <span *ngIf="!data.isInFavorites" nz-icon nzType="heart" 
                    nzTheme="outline" class="clickable" (click)="addSongToFavorites(data.id)"></span>
                </td>
                <td>{{data.duration | secondsToMinute}}</td>


            </tr>

        </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item id="add-fav" (click)="addSongToFavorites(this.SelectedTableItem.id)" *ngIf="!this.SelectedTableItem.isInFavorites">Add to favorites</li>
            <li nz-menu-item id="rm-fav" (click)="removeSongFromFavorites(this.SelectedTableItem.id)" *ngIf="this.SelectedTableItem.isInFavorites">Remove from favorites</li>
            <li nz-menu-item id="rm-pl" (click)="removeSongFromPlaylist()" *ngIf="this.playlistId != undefined">Remove from current playlist</li>
            <li nz-menu-item id="add-all-fav" (click)="addSelectedSongsToFavorites()" *ngIf="this.Indeterminate || this.AllChecked">Add selected to favorites</li>
            <li nz-menu-item id="rm-all-fav" (click)="removeSelectedSongsFromFavorites()" *ngIf="this.Indeterminate || this.AllChecked">Remove selected from favorites</li>
            <li nz-menu-item id="rm-all-pl" (click)="removeSelectedSongsFromPlaylist()" *ngIf="this.playlistId != undefined && (this.Indeterminate || this.AllChecked)">Remove selected from current playlist</li>
            <li nz-submenu nzTitle="Add to playlist" id="add-pl">
                <ul>
                    <li nz-menu-item (click)="this.ShowPlaylistCreateModal = true"><span nz-icon nzType="plus" nzTheme="outline"></span>Create new Playlist</li>
                    <li nz-menu-item *ngFor="let data of this.ModifieablePlaylists" (click)="addSongToPlaylist(data.id)">{{data.name}}</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Add selected to playlist" id="add-all-pl" *ngIf="this.Indeterminate || this.AllChecked">
                <ul>
                    <li nz-menu-item (click)="this.ShowPlaylistCreateModal = true"><span nz-icon nzType="plus" nzTheme="outline"></span>Create new Playlist</li>
                    <li nz-menu-item *ngFor="let data of this.ModifieablePlaylists" (click)="addSelectedSongsToPlaylist(data.id)">{{data.name}}</li>
                </ul>
            </li>
            <li *ngIf="this.CurrentPlayingSong.id" nz-menu-item id="add-queue" (click)="addSongToQueue(this.SelectedTableItem)">Add to queue</li>
            <li *ngIf="(this.Indeterminate || this.AllChecked) && this.CurrentPlayingSong.id" nz-menu-item id="add-all-queue" (click)="addSelectedSongsToQueue()">Add selected to queue</li>
        </ul>
    </nz-dropdown-menu>
    <app-playlist-edit *ngIf="this.ShowPlaylistCreateModal" [visible]="this.ShowPlaylistCreateModal" 
    (onCancleModal)="this.ShowPlaylistCreateModal = false" (onSaveModal)="createPlaylist($event)"></app-playlist-edit>


</div>
