.song-item:hover #order-id{
    display: none;
}

.song-item #order-id{
    display: block;
}

.song-item:hover #play-song-button{
    display: block;
    text-align: start;
}

.song-item #play-song-button{
    display: none;
}

::ng-deep .cdk-drag-preview {
    display: table;
  }

  ::ng-deep .cdk-drag-placeholder {
    opacity: 0;
  }