<div>
    <div>
        <img [src]="getPlaylistCoverSrc()" style="width: 300px; height: 300px;"/>

        <h1>
            TODO: Allow Chaning of name
            {{this.PlaylistModel.name}}
        </h1>
        <p>
            TODO: Allow Chaning of description
            {{this.PlaylistModel.description}}
        </p>
        TODO: add button for public and notifications
        <p>
            <a [routerLink]="[getUserHref()]">{{getCreatorName()}}</a> / {{this.TotalSongCount}} Songs
        </p>
    </div>
    <div>
        <span *ngIf="this.IsSongPlaying  && this.QueueModel && this.QueueModel.target == 'playlist'"
        nz-col nz-icon nzType="pause-circle" nzTheme="outline" style="font-size: 150px;" class="clickable" (click)="pauseSongs()"></span>
        <span *ngIf="!this.IsSongPlaying || !this.QueueModel || (this.QueueModel && this.QueueModel.target != 'playlist')" nz-col
         nz-icon nzType="play-circle" nzTheme="outline" style="font-size: 150px;" class="clickable" (click)="playSongs()"></span>
    </div>

    <app-song-table [songs]="this.SongsModel" [playlistId]="this.PlaylistModel.id"
     (paginationUpdated)="onPaginationUpdated()" (playSongClicked)="onPlaySongClicked($event)" (songDropped)="changeSongPosition($event)"></app-song-table>
</div>
