<div>
    <div>
        <img [src]="getPlaylistCoverSrc()" style="width: 300px; height: 300px;"/>

        <h1>
            {{this.PlaylistModel.name}}
        </h1>
        <p>
            <a [routerLink]="[getUserHref()]">{{getCreatorName()}}</a> / {{this.TotalSongCount}} Songs
        </p>
    </div>
    <div>
        <span *ngIf="this.IsSongPlaying  && this.QueueModel && this.QueueModel.type == 'playlist'"
        nz-col nz-icon nzType="pause-circle" nzTheme="outline" style="font-size: 150px;" class="clickable" (click)="pauseSongs()"></span>
        <span *ngIf="!this.IsSongPlaying || !this.QueueModel || (this.QueueModel && this.QueueModel.type != 'playlist')" nz-col
         nz-icon nzType="play-circle" nzTheme="outline" style="font-size: 150px;" class="clickable" (click)="playSongs()"></span>
    </div>

    <app-song-table [songs]="this.SongsModel" [playlistId]="this.PlaylistModel.id"
     (paginationUpdated)="onPaginationUpdated()" (playSongClicked)="onPlaySongClicked($event)"></app-song-table>
</div>
