<div>
    <div>
        <h2>
            Current Song
        </h2>
        <app-song-table
        [songs]="this.CurrentPlayingSongModel"
         (paginationUpdated)="onCurrentSongPaginationUpdated()"
         (playSongClicked)="resumeSong($event)"
         [displayHeader]="false"
         [displayPagination]="false"
         [displaySearch]="false"
         ></app-song-table>

    </div>
    <div>
        <app-queue-table 
        [nextSongs]="this.NextSongsModel"
        [queue]="this.QueueModel"
        (paginationUpdated)="onQueueTablePaginationUpdated()"
        (playSongClicked)="onPlaySongClicked($event)"
        (songDropped)="changeSongPosition($event)"
        ></app-queue-table>
    </div>
</div>
