<div class="centered ">
    <div class="form-background" *ngIf="!this.submitted">
        <h2>
            Password forgotten?
        </h2>
        <form nz-form [formGroup]="passwordForm" class="password-form" (ngSubmit)="submit()">
            <nz-form-item>
                <nz-form-label [nzSpan]="10" nzRequired nzLabelAlign="left">Password</nz-form-label>
                <nz-form-control nzHasFeedback>
                    <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'">
                        <input type="password" nz-input formControlName="password" placeholder="Password" />
                    </nz-input-group>
                    <div style="margin-top: 0.5rem;" class="error-color">
                        * Atleast 8 characters<br>
                        * Atleast 1 uppercase character<br>
                        * Atleast 1 digit<br>
                        * Atleast 1 special character
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="10" nzRequired nzLabelAlign="left">Repeat Password</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="passwordConfirmErrorTpl">
                    <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'">
                        <input type="password" nz-input formControlName="passwordConfirm" placeholder="Password" />
                        <ng-template #passwordConfirmErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                <div class="my-1">
                                    Please input your password!
                                </div>
                            </ng-container>
                            <ng-container *ngIf="control.hasError('confirmedValidator')">
                                <div class="my-1">
                                    Passwords have to match!
                                </div>
                            </ng-container>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <button nz-button class="login-form-button login-form-margin" style="width: 100%;"
            [nzType]="'primary'">Reset password</button>
        </form>
    </div>
    <div class="form-background" *ngIf="this.submitted">
        <h2 class="success-color">
            Password was successfuly resetted!
        </h2>
        <div>
            You can now login with the newly created password.<br>
            To <a href="/login">Login</a>
        </div>
    </div>
</div>
