<div>
    <div>
        <span nz-icon nzType="heart" nzTheme="outline" style="font-size: 300px;"></span>

        <h1>
            Favorites
        </h1>
        <p>
            <a [routerLink]="['/user', '-1']">{{UserName}}</a> / {{this.TotalSongCount}} Songs
        </p>
    </div>
    <div>
        <span *ngIf="this.IsSongPlaying  && this.QueueModel && this.QueueModel.target == 'favorites'"
        nz-col nz-icon nzType="pause-circle" nzTheme="outline" style="font-size: 150px;" class="clickable" (click)="pauseSongs()"></span>
        <span *ngIf="(!this.IsSongPlaying || !this.QueueModel || (this.QueueModel && this.QueueModel.target != 'favorites')) && this.SongsModel.totalCount > 0" nz-col
         nz-icon nzType="play-circle" nzTheme="outline" style="font-size: 150px;" class="clickable" (click)="playSongs()"></span>
         <span *ngIf="(!this.IsSongPlaying || !this.QueueModel || (this.QueueModel && this.QueueModel.target != 'favorites')) && this.SongsModel.totalCount == 0" nz-col
         nz-icon nzType="play-circle" nzTheme="outline" style="font-size: 150px;" class="clickable" aria-disabled="true"></span>
    </div>


    <app-song-table
    [songs]="this.SongsModel"
     (paginationUpdated)="onPaginationUpdated()"
     (playSongClicked)="onPlaySongClicked($event)"
     (songDropped)="changeSongPosition($event)"></app-song-table>
</div>
