<div>
    <div>
        <span nz-icon nzType="heart" nzTheme="outline" style="font-size: 300px;"></span>

        <h1>
            Favorites
        </h1>
        <p>
            <a [href]="getUserHref()">{{UserName}}</a> / {{this.TotalSongCount}} Songs
        </p>
    </div>
    <div>
        <button *ngIf="this.IsSongPlaying  && this.QueueModel && this.QueueModel.type == 'favorites'" nz-button nz-col nzType="default" style="width: 160px; height: 160px;" [nzShape]="'circle'" (click)="pauseSongs()">
            <span  nz-icon nzType="pause-circle" nzTheme="outline" style="font-size: 150px;"></span>
        </button>
        <button *ngIf="!this.IsSongPlaying || !this.QueueModel || (this.QueueModel && this.QueueModel.type != 'favorites')" nz-button nz-col nzType="default" style="width: 160px; height: 160px;" [nzShape]="'circle'" (click)="playSongs()">
            <span  nz-icon nzType="play-circle" nzTheme="outline" style="font-size: 150px;"></span>
        </button>
    </div>


    <app-song-table [songs]="this.SongsModel"
     (paginationUpdated)="onPaginationUpdated()"
     (playSongClicked)="onPlaySongClicked($event)"></app-song-table>
</div>
