<div class="centered ">
    <div class="form-background p-4" *ngIf="!this.submitted">
        <h2>
            Password forgotten?
        </h2>
        <form nz-form [formGroup]="emailForm" class="email-form" (ngSubmit)="submit()">
            <nz-form-item>
                <nz-form-label [nzSpan]="10" nzRequired nzLabelAlign="left">Email</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
                    <nz-input-group nzPrefixIcon="mail" [nzSize]="'large'">
                        <input type="text" nz-input formControlName="email" placeholder="Email" />
                        <ng-template #emailErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                <div class="my-1">
                                    Please input your email!
                                </div>
                            </ng-container>
                            <ng-container *ngIf="control.hasError('email')" > 
                                <div class="my-1">
                                        Please input a valid email!
                                </div>
                            </ng-container>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <button nz-button class="login-form-button login-form-margin" style="width: 100%;"
            [nzType]="'primary'">Reset password</button>
        </form>
    </div>
    <div class="form-background p-4" *ngIf="this.submitted">
        <h2 class="success-color">
            We sent you a link to reset your password!
        </h2>
        <div>
            Please check your inbox to create a new password for your account.<br>
            To <a href="/login">Login</a>
        </div>
    </div>
</div>
