<div style="margin-bottom: 5em;">
      <div class="demo-infinite-container">
        <div *ngFor="let item of this.Albums" (contextmenu)="contextMenu($event, menu, item)">
            <div nz-row class="album-item">
                <img nz-col [src]="getAlbumCoverSrc(item.id)" style="width: 150px; height: 150px;" class="album-image"/>
                <div style="font-size: xx-large;" class="album-item-button">
                    <span *ngIf="this.CurrentPlayingAlbumId != item.id || !this.IsSongPlaying"
                     nz-icon nzType="play-circle" nzTheme="outline" class="clickable" (click)="playSong(item.id)"></span>
                     <span *ngIf="this.IsSongPlaying && this.CurrentPlayingAlbumId == item.id"
                     nz-icon nzType="pause-circle" nzTheme="outline" class="clickable" (click)="pauseSong()"></span>
                </div>
                <div nz-col class="album-item-text">
                    <h3 nz-row >
                        <a [routerLink]="['/album', item.id]">{{item.name}}</a>
                    </h3>
    
                    <div nz-row>
                        {{getYear(item.release)}}
                    </div>
                </div>
            </div>
        </div>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-submenu nzTitle="Add to playlist" id="add-pl">
                <ul>
                    <li nz-menu-item *ngFor="let data of this.ModifieablePlaylists" (click)="addAlbumToPlaylist(data.id, this.SelectedTableItem)">{{data.name}}</li>
                </ul>
            </li>
            <li nz-menu-item id="add-queue" (click)="addAlbumToQueue(this.SelectedTableItem)">Add to queue</li>
        </ul>
    </nz-dropdown-menu>


</div>
