<nz-layout style="height: 100%;">
    <nz-header>
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu" [nzSelectable]="false">
        <li nz-menu-item (click)="test()"> 
            <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
            <!-- <span nz-icon nzType="user" nzTheme="outline" style="font-size: 20px;"></span> -->
            <span>Your Username</span>
            
        </li>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" nzTheme="light" [nzSelectable]="false">
            <li nz-menu-item>
                <span nz-icon nzType="home"></span>
                <span>Home</span>
            </li>
            <li nz-menu-item>                
                <span nz-icon nzType="search"></span>
                <span>Search</span>
            </li>
        </ul>

        <hr>
        <ul nz-menu nzMode="inline" nzTheme="light" [nzSelectable]="false">
            <li nz-menu-item>
                <h2 style="cursor: pointer;">
                    <span nz-icon nzType="folder" style="font-size: 2rem;"></span>
                    Library
                </h2>
            </li>
        </ul>


        <div>
            <span nz-icon nzType="close-circle"></span>
            <nz-tag nzMode="checkable" class="tag">Playlists</nz-tag>
            <nz-tag nzMode="checkable" class="tag">Artists</nz-tag>
            <nz-tag nzMode="checkable" class="tag">Users</nz-tag>
        </div>
        <nz-input-group nzPrefixIcon="search" [nzSize]="'large'">
            <input type="text" nz-input  placeholder="Search"/>
        </nz-input-group>
        <ul nz-menu nzMode="inline" class="sider-menu" [nzSelectable]="false">
            <li nz-menu-item>Playlist 1</li>
            <li nz-menu-item>Playlist 2</li>
            <li nz-menu-item>Playlist 3</li>
            <li nz-menu-item>Playlist 4</li>
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">
        <nz-content>
            <router-outlet>
            </router-outlet>
        </nz-content>
        <nz-footer class="footer">Developed By Emre Rauhofer <a href="mailto:emre.rauhofer@gmail.com">Contact me</a></nz-footer>
      </nz-layout>
    </nz-layout>
  </nz-layout>