<nz-layout style="height: 100%;">
    <nz-header>
      
        <img src="assets/logo.png" class="logo"/>
      
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu" [nzSelectable]="false">
        <li nz-menu-item [routerLink]="['/user']"> 
            <nz-avatar nzSize="large" nzIcon="user" [nzSrc]="getOwnAvatar()"></nz-avatar>
            <!-- <span nz-icon nzType="user" nzTheme="outline" style="font-size: 20px;"></span> -->
            <span> {{this.UserName}}</span>
            
        </li>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-sider nzWidth="250px" nzTheme="light" style="overflow: auto; height: 100%;">
        <ul nz-menu nzMode="inline" nzTheme="light" [nzSelectable]="false">
            <li nz-menu-item>
                <span nz-icon nzType="home"></span>
                <span>Home</span>
            </li>
            <li nz-menu-item>                
                <span nz-icon nzType="search"></span>
                <span>Search</span>
            </li>
        </ul>

        <hr>
        <ul nz-menu nzMode="inline" nzTheme="light" [nzSelectable]="false">
            <li nz-menu-item>
                <h2 class="clickable">
                    <span nz-icon nzType="folder" style="font-size: 2rem;"></span>
                    Library
                </h2>
            </li>
        </ul>


        <div>
            <span *ngIf="this.FilterName !== ''" nz-icon nzType="close-circle" (click)="setFilter(null, '')" class="clickable"></span>
            <nz-tag nzMode="checkable" class="tag" (nzCheckedChange)="setFilter($event, 'playlists')" [nzChecked]="this.FilterName == 'playlists'">Playlists</nz-tag>
            <nz-tag nzMode="checkable" class="tag" (nzCheckedChange)="setFilter($event, 'artists')" [nzChecked]="this.FilterName == 'artists'">Artists</nz-tag>
            <nz-tag nzMode="checkable" class="tag" (nzCheckedChange)="setFilter($event, 'users')" [nzChecked]="this.FilterName == 'users'">Users</nz-tag>
        </div>
        <nz-input-group nzPrefixIcon="search" [nzSize]="'large'">
            <input type="text" nz-input  placeholder="Search" (input)="searchOnInput()" [(ngModel)]="search"/>
        </nz-input-group>
        <nz-list nzItemLayout="horizontal" > 
            <nz-list-item >
                <nz-list-item-meta>
                    <nz-list-item-meta-avatar >
                        <span nz-icon nzType="heart" nzTheme="outline" style="font-size: 50px;"></span>
                    </nz-list-item-meta-avatar>
                    <nz-list-item-meta-description>
                        {{ this.FavoriteSongsCount }} Songs
                    </nz-list-item-meta-description>
                    <nz-list-item-meta-title>
                    <a [routerLink]="['favorites']">Favorites</a>
                    </nz-list-item-meta-title>
                </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item class="clickable" (click)="ShowPlaylistCreate = true">
                <nz-list-item-meta>
                    <nz-list-item-meta-avatar >
                        <span nz-icon nzType="plus" nzTheme="outline" style="font-size: 50px;"></span>
                    </nz-list-item-meta-avatar>
                    <nz-list-item-meta-title>
                    <span>Create a new playlist</span>
                    </nz-list-item-meta-title>
                </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item *ngFor="let artist of this.FollowedArtists">
                <nz-list-item-meta>
                    <nz-list-item-meta-avatar >
                        <img [src]="getArtistCoverSrc(artist.id)" style="width: 50px; height: 50px;"/>
                    </nz-list-item-meta-avatar>
                    <nz-list-item-meta-description>
                        Artist
                    </nz-list-item-meta-description>
                    <nz-list-item-meta-title>
                    <a [routerLink]="['artist', artist.id]">{{artist.name}}</a>
                    </nz-list-item-meta-title>
                </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item *ngFor="let user of this.FollowedUser">
                <nz-list-item-meta>
                    <nz-list-item-meta-avatar >
                        <nz-avatar nzIcon="User" [nzSrc]="getProfilePicSrc(user.id)" style="width: 50px; height: 50px;">

                        </nz-avatar>
                    </nz-list-item-meta-avatar>
                    <nz-list-item-meta-description>
                        User
                    </nz-list-item-meta-description>
                    <nz-list-item-meta-title>
                    <a [routerLink]="['user', user.id]">{{user.userName}}</a>
                    </nz-list-item-meta-title>
                </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item *ngFor="let playlist of this.FollowedPlaylists">
                <nz-list-item-meta>
                    <nz-list-item-meta-avatar >
                        <img [src]="getPlaylistCoverSrc(playlist.id)" style="width: 50px; height: 50px;"/>
                    </nz-list-item-meta-avatar>
                    <nz-list-item-meta-description>
                        Playlist • {{playlist.creatorName}} <br> {{playlist.songCount}} Songs
                    </nz-list-item-meta-description>
                    <nz-list-item-meta-title>
                    <a [routerLink]="['playlist', playlist.id]">{{playlist.name}}</a>
                    </nz-list-item-meta-title>
                </nz-list-item-meta>
            </nz-list-item>
        </nz-list>
      </nz-sider>
      <nz-layout class="inner-layout">
        <!-- <nz-content> -->
            <router-outlet>
            </router-outlet>
        <!-- </nz-content> -->
        <app-mediaplayer *ngIf="this.CurrentPlayingSong.id" style="position: relative;"></app-mediaplayer>
        <nz-footer class="footer">Developed By Emre Rauhofer <a href="mailto:emre.rauhofer@gmail.com">Contact me</a></nz-footer>
      </nz-layout>
      
    </nz-layout>
    <!-- <app-mediaplayer style="position: fixed; bottom: 0; z-index: 100; width: 100%; height: 20%;"></app-mediaplayer> -->
    <app-playlist-edit *ngIf="this.ShowPlaylistCreate" [visible]="this.ShowPlaylistCreate" (onSaveModal)="createPlaylist($event)" (onCancleModal)="this.ShowPlaylistCreate = false"></app-playlist-edit>
    
  </nz-layout>