/* You can add global styles to this file, and also import other style files */

.centered{
    position:absolute;
    width:500px;
    height:250px;
    left:50%;
    top:50%;
    margin-left:-50px;
    margin-top:-50px;
}

.form-background{
    border-radius: 25px;
    border: 1px grey;
    background-color: lightgrey;
    padding: 1.5rem;

    &-success{
        @extend .form-background;
        color: #52c41a;
    }
}

.error-color{
    color: #ff4d4f;
}

.success-color{
    color: #52c41a;
}

.clicked-color{
    color: #1890ff;
}

.footer{
    background-color: #001529;
    color: #ffffff;
}

.clickable-danger{
    cursor: pointer;
}

.clickable-danger:hover{
    color: #ff4d4f;
    cursor: pointer;
}

.clickable{
    cursor: pointer;
}

.clickable:hover{
    color: #52c41a;
    cursor: pointer;
}

.clickable-button{
    cursor: pointer;
}

.clickable-button:hover{
    color: #52c41a;
    cursor: pointer;
    border-color: #52c41a;
}

.clickable-button-danger{
    cursor: pointer;
}

.clickable-button-danger:hover{
    color: #ff4d4f;
    cursor: pointer;
    border-color: #ff4d4f;
}

/*Bootstrap Shenanigans*/

.mt-1{
    margin-top: 0.25rem;
}

.my-1{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.text-end{
    text-align: end;
}

// This is done so the cursor for when grabbing objects changes
body.inheritCursors * {
    cursor: inherit !important;
  }