<div>
    <div>
        <div nz-row>
            <img nz-col [src]="getUserCoverSrc()" style="width: 300px; height: 300px;"/>

            <h1 nz-col style="align-self: center;">
                {{this.UserModel.userName}}
            </h1>
        </div>
        <div *ngIf="this.UserModel.id != -1" style="margin-top: 2em;" nz-row>
            <button *ngIf="!this.UserModel.isFollowedByUser" nz-col nz-button nzType="default" class="clickable-button" (click)="subscribeToUser(this.UserModel)">Follow</button>
            <button *ngIf="this.UserModel.isFollowedByUser" nz-col nz-button nzType="default" class="clickable-button success-color" (click)="subscribeToUser(this.UserModel)">Unfollow</button>
            <button *ngIf="!this.UserModel.receiveNotifications" nz-col nz-button nzType="default" class="clickable-button" nzShape="circle" (click)="activateNotificationsForUser(this.UserModel)">
                <span nz-icon nzType="mail" nzTheme="outline"></span>
            </button>
            <button *ngIf="this.UserModel.receiveNotifications" nz-col nz-button nzType="default" class="clickable-button success-color" nzShape="circle" (click)="activateNotificationsForUser(this.UserModel)">
                <span nz-icon nzType="mail" nzTheme="outline"></span>
            </button>
        </div>
        <div *ngIf="this.UserModel.id == -1" style="margin-top: 2em;">
            <span nz-row>Upload new profile picture</span>

            <input nz-row type="file" accept=".png" (change)="uploadNewCover($event)" style="margin-top: 1em;"/>
            <span *ngIf="FileError != ''" nz-row class="error-color">
                {{this.FileError}}
            </span>

        </div>
        <h2>Followed Artists</h2>
        <cdk-virtual-scroll-viewport itemSize="50" class="list-view">
            <div *cdkVirtualFor="let artist of FollowedArtists" class="list-item" nz-row>
                <div nz-col>
                    <img [src]="getArtistPicSrc(artist.id)" style="width: 150px; height: 150px;">
                </div>
                <div nz-col class="list-item-actions">
                    <h2><a [routerLink]="['/artist', artist.id]">{{artist.name}}</a></h2>
                    <div>
                        <button *ngIf="!artist.followedByUser" nz-col nz-button nzType="default" class="clickable-button" (click)="subscribeToArtist(artist)">Follow</button>
                        <button *ngIf="artist.followedByUser" nz-col nz-button nzType="default" class="clickable-button success-color" (click)="subscribeToArtist(artist)">Unfollow</button>
                        <button *ngIf="!artist.receiveNotifications" nz-col nz-button nzType="default" class="clickable-button" nzShape="circle" (click)="activateNotificationsForArtist(artist)">
                            <span nz-icon nzType="mail" nzTheme="outline"></span>
                        </button>
                        <button *ngIf="artist.receiveNotifications" nz-col nz-button nzType="default" class="clickable-button success-color" nzShape="circle" (click)="activateNotificationsForArtist(artist)">
                            <span nz-icon nzType="mail" nzTheme="outline"></span>
                        </button>
                    </div>

                </div>
            </div>
          </cdk-virtual-scroll-viewport>
          <h2>Followed Users</h2>     
          <cdk-virtual-scroll-viewport itemSize="50" class="list-view">
            <div *cdkVirtualFor="let user of FollowedUsers" class="list-item" nz-row>
                <div nz-col>
                    <img [src]="getProfilePicSrc(user.id)" style="width: 150px; height: 150px;">
                </div>
                <div nz-col class="list-item-actions">
                    <h2><a [routerLink]="['/user', user.id]">{{user.userName}}</a></h2>
                    <div>
                        <button *ngIf="!user.isFollowedByUser" nz-col nz-button nzType="default" class="clickable-button" (click)="subscribeToUser(user)">Follow</button>
                        <button *ngIf="user.isFollowedByUser" nz-col nz-button nzType="default" class="clickable-button success-color" (click)="subscribeToUser(user)">Unfollow</button>
                        <button *ngIf="!user.receiveNotifications" nz-col nz-button nzType="default" class="clickable-button" nzShape="circle" (click)="activateNotificationsForUser(user)">
                            <span nz-icon nzType="mail" nzTheme="outline"></span>
                        </button>
                        <button *ngIf="user.receiveNotifications" nz-col nz-button nzType="default" class="clickable-button success-color" nzShape="circle" (click)="activateNotificationsForUser(user)">
                            <span nz-icon nzType="mail" nzTheme="outline"></span>
                        </button>
                    </div>

                </div>
            </div>
          </cdk-virtual-scroll-viewport>        
          <div>
            Followed Playlists
          </div>
    </div>
</div>
