<div nz-row style="height: 100%; background-color: white;">
    <img [src]="this.AlbumCoverSrc" nz-col nzSpan="2">
    <div nz-col nzSpan="2" style="align-self: center;">
        <a nz-row style="justify-content: center;">{{this.CurrentPlayingSong.name}}</a>
        <a nz-row style="justify-content: center;">{{this.ArtistsAsString}}</a>
        <span *ngIf="this.CurrentPlayingSong.isInFavorites" nz-row style="justify-content: center; font-size: 150%;" nz-icon nzType="heart" 
        nzTheme="fill" class="clickable" (click)="removeSongFromFavorites()"></span>
        <span *ngIf="!this.CurrentPlayingSong.isInFavorites" nz-row style="justify-content: center; font-size: 150%;" nz-icon nzType="heart" 
        nzTheme="outline" class="clickable" (click)="addSongToFavorites()"></span>
    </div>
    <div nz-col nzSpan="16" style="align-self: center;">
        <div nz-row style="font-size: 150%; margin-bottom: 2%;">
            <span nz-col *ngIf="!this.randomizePlay" style="justify-content: center;" class="clickable" nz-icon nzSpan="4" nzType="swap" nzTheme="outline" (click)="randomizePlayback()"></span>
            <span nz-col *ngIf="this.randomizePlay" style="justify-content: center;" class="clicked-color clickable" nz-icon nzSpan="4" nzType="swap" nzTheme="outline" (click)="randomizePlayback()"></span>
            <span nz-col style="justify-content: center;" class="clickable" nz-icon nzSpan="4" nzType="step-backward" nzTheme="outline" (click)="playPrevSong()"></span>
            <span nz-col *ngIf="!this.IsSongPlaying" style="justify-content: center;" class="clickable" nz-icon nzSpan="4" nzType="play-circle" nzTheme="outline" (click)="playPauseSong()"></span>
            <span nz-col *ngIf="this.IsSongPlaying" style="justify-content: center;" class="clickable" nz-icon nzSpan="4" nzType="pause-circle" nzTheme="outline" (click)="playPauseSong()"></span>
            <span nz-col style="justify-content: center;" class="clickable" nz-icon nzSpan="4" nzType="step-forward" nzTheme="outline" (click)="playNextSong()"></span>
            <span nz-col *ngIf="!this.loopAudio" style="justify-content: center;" class="clickable" nz-icon nzSpan="4" nzType="retweet" nzTheme="outline" (click)="loopPlayback()"></span>
            <span nz-col *ngIf="this.loopAudio" style="justify-content: center;" class="clicked-color clickable" nz-icon nzSpan="4" nzType="retweet" nzTheme="outline" (click)="loopPlayback()"></span>
        </div>
        <div nz-row style="font-size: 150%;">
            <span nz-col nzSpan="2">{{this.durationSlider | secondsToMinute}}</span>
            <nz-slider
            nz-col
            nzSpan="16"
            [(ngModel)]="this.durationSlider"
            (nzOnAfterChange)="onDurationChanged($event)"
            [nzMax]="this.Duration"
          ></nz-slider>
            <span nz-col nzSpan="2">{{this.CurrentPlayingSong.duration | secondsToMinute}}</span>

        </div>
    </div>
    <div nz-col nzSpan="4" style="align-self: center; font-size: 150%;">
        <div nz-row style="justify-content: center;">
            <button nz-button nz-popover nzType="primary" nzPopoverTitle="Queue" [nzPopoverContent]="queueTemplate">
                <span nz-icon nzType="menu" nzTheme="outline"></span>
            </button>
            <ng-template #queueTemplate >
                <div style="overflow-y: auto; height: 10%;">
                    <div *ngFor="let song of this.CurrentQueue" >
                        <div>
                            {{song.name}}
                        </div>
                    </div>
                </div>

            
            </ng-template>
        </div>
        <div nz-row style="font-size: 150%;">
            <app-audio-svg *ngIf="!this.mutedAudio" nz-col nzSpan="2" style="width: 1em; height: 1em; align-self: center;" class="clickable" (click)="muteUnmuteAudio()"/>
            <app-audio-off-svg *ngIf="this.mutedAudio" nz-col nzSpan="2" style="width: 1em; height: 1em; align-self: center;" class="clickable" (click)="muteUnmuteAudio()"/>
            <nz-slider
            nz-col
            nzOffset="1"
            nzSpan="19"
            [(ngModel)]="this.volumePercent"
            (nzOnAfterChange)="onVolumeChanged($event)"
          ></nz-slider>
        </div>

    </div>


</div>
