<div nz-row style="height: 100%; background-color: white;">
    <img [src]="this.AlbumCoverSrc" nz-col nzSpan="2">
    <div nz-col nzSpan="2" style="align-self: center;">
        <a nz-row style="justify-content: center;" [routerLink]="[SongUrl]">{{this.CurrentPlayingSong.name}}</a>
        <div *ngFor="let artist of this.CurrentPlayingSong.artists">
            <a nz-row style="justify-content: center;" [routerLink]="['artist', artist.id]">{{artist.name}}</a>
        </div>
        
        <span *ngIf="this.CurrentPlayingSong.isInFavorites" nz-row style="justify-content: center; font-size: 150%;" nz-icon nzType="heart" 
        nzTheme="fill" class="clickable" (click)="removeSongFromFavorites()"></span>
        <span *ngIf="!this.CurrentPlayingSong.isInFavorites" nz-row style="justify-content: center; font-size: 150%;" nz-icon nzType="heart" 
        nzTheme="outline" class="clickable" (click)="addSongToFavorites()"></span>
    </div>
    <div nz-col nzSpan="16" style="align-self: center;">
        <div nz-row style="font-size: 150%; margin-bottom: 2%;">
            <span nz-col *ngIf="!this.randomizePlay" style="justify-content: center;" class="clickable" nz-icon nzSpan="4" nzType="swap" nzTheme="outline" (click)="randomizePlayback()"></span>
            <span nz-col *ngIf="this.randomizePlay" style="justify-content: center;" class="clicked-color clickable" nz-icon nzSpan="4" nzType="swap" nzTheme="outline" (click)="randomizePlayback()"></span>
            <span nz-col style="justify-content: center;" class="clickable" nz-icon nzSpan="4" nzType="step-backward" nzTheme="outline" (click)="playPrevSong()"></span>
            <span nz-col *ngIf="!this.IsSongPlaying" style="justify-content: center;" class="clickable" nz-icon nzSpan="4" nzType="play-circle" nzTheme="outline" (click)="playPauseSong()"></span>
            <span nz-col *ngIf="this.IsSongPlaying" style="justify-content: center;" class="clickable" nz-icon nzSpan="4" nzType="pause-circle" nzTheme="outline" (click)="playPauseSong()"></span>
            <span nz-col style="justify-content: center;" class="clickable" nz-icon nzSpan="4" nzType="step-forward" nzTheme="outline" (click)="playNextSong()"></span>
            <app-audio-loop *ngIf="this.CurrentLoopMode == this.LoopModeNone" style="width: 1em; height: 1em;justify-content: center;" class="clickable" nz-icon nzSpan="4" (click)="loopPlayback()"/>
            <app-audio-loop *ngIf="this.CurrentLoopMode == this.LoopModePlaylist" style="width: 1em; height: 1em;justify-content: center;" class="clicked-color clickable" nz-icon nzSpan="4" (click)="loopPlayback()"/>
            <app-audio-loop-one *ngIf="this.CurrentLoopMode == this.LoopModeAudio" style="width: 1em; height: 1em;justify-content: center;" class="clicked-color clickable" nz-icon nzSpan="4" (click)="loopPlayback()"/>
        </div>
        <div nz-row style="font-size: 150%;">
            <span nz-col nzSpan="2">{{this.durationSlider | secondsToMinute}}</span>
            <nz-slider
            nz-col
            nzSpan="16"
            [(ngModel)]="this.durationSlider"
            (nzOnAfterChange)="onDurationChanged($event)"
            [nzMax]="this.Duration"
          ></nz-slider>
            <span nz-col nzSpan="2">{{this.CurrentPlayingSong.duration | secondsToMinute}}</span>

        </div>
    </div>
    <div nz-col nzSpan="4" style="align-self: center; font-size: 150%;">
        <div nz-row>
            <a nz-col nzSpan="12" nz-tooltip nzTooltipTitle="Session" [routerLink]="['/session']" class="clickable">
                <span nz-icon nzType="team" nzTheme="outline"></span>
            </a>
            <a nz-col nzSpan="12" style="text-align: center;" nz-tooltip nzTooltipTitle="Queue" [routerLink]="['/queue']" class="clickable">
                <span nz-icon nzType="menu" nzTheme="outline"></span>
            </a>

        </div>
        <div nz-row style="font-size: 150%;">
            <app-audio-svg *ngIf="!this.mutedAudio" nz-col nzSpan="2" style="width: 1em; height: 1em; align-self: center;" class="clickable" (click)="muteUnmuteAudio()"/>
            <app-audio-off-svg *ngIf="this.mutedAudio && !DisableMuteButton" nz-col nzSpan="2" style="width: 1em; height: 1em; align-self: center;" class="clickable" (click)="muteUnmuteAudio()"/>
            <app-audio-off-svg *ngIf="this.mutedAudio && DisableMuteButton" nz-col nzSpan="2" style="width: 1em; height: 1em; align-self: center;" class="clickable" aria-disabled="true" />
            <nz-slider
            nz-col
            nzOffset="1"
            nzSpan="19"
            [(ngModel)]="this.volumePercent"
            (nzOnAfterChange)="onVolumeChanged($event)"
          ></nz-slider>
        </div>

    </div>


</div>
