<div nz-row style="height: 100%; background-color: white;">
    <img [src]="this.getAlbumCoverSrc" nz-col nzSpan="2">
    <div nz-col nzSpan="2" style="align-self: center;">
        <span nz-row style="justify-content: center;">{{this.CurrentPlayingSong.name}}</span>
        <span nz-row style="justify-content: center;">{{this.ArtistsAsString}}</span>
        <span *ngIf="this.CurrentPlayingSong.isInFavorites" nz-row style="justify-content: center; font-size: 150%;" nz-icon nzType="heart" 
        nzTheme="fill" class="clickable" (click)="removeSongFromFavorites()"></span>
        <span *ngIf="!this.CurrentPlayingSong.isInFavorites" nz-row style="justify-content: center; font-size: 150%;" nz-icon nzType="heart" 
        nzTheme="outline" class="clickable" (click)="addSongToFavorites()"></span>
    </div>
    <div nz-col nzSpan="20">
        <div nz-row>
            <span nz-col nz-icon nzSpan="4" nzType="swap" nzTheme="outline"></span>
            <span nz-col nz-icon nzSpan="4" nzType="step-backward" nzTheme="outline"></span>
            <span *ngIf="!this.IsSongPlaying" nz-col nz-icon nzSpan="4" nzType="play-circle" nzTheme="outline"></span>
            <span *ngIf="this.IsSongPlaying" nz-col nz-icon nzSpan="4" nzType="pause-circle" nzTheme="outline"></span>
            <span nz-col nz-icon nzSpan="4" nzType="step-forward" nzTheme="outline"></span>
            <span nz-col nz-icon nzSpan="4" nzType="retweet" nzTheme="outline"></span>
        </div>
        <div nz-row>
            <span nz-col nzSpan="1">{{this.CurrentSecondsPlayed | secondsToMinute}}</span>
            <nz-slider
            nz-col
            nzSpan="17"
            [(ngModel)]="this.durationSlider"
            (nzOnAfterChange)="onDurationChanged($event)"
          ></nz-slider>
            <span nz-col nzSpan="1">{{this.CurrentPlayingSong.duration | secondsToMinute}}</span>
            <button nz-col nz-button nzSpan="1" nz-popover nzType="primary" nzPopoverTitle="Title" nzPopoverContent="Content">
                <span nz-icon nzType="menu" nzTheme="outline"></span>
            </button>
            <span nz-col nzSpan="1" nz-icon nzType="customer-service" nzTheme="outline"></span>
            <nz-slider
            nz-col
            nzSpan="2"
            [(ngModel)]="this.volumePercent"
            (nzOnAfterChange)="onVolumeChanged($event)"
          ></nz-slider>
        </div>
    </div>
    <audio style="display: none;"></audio>


</div>
